@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --background-color:#1F2C32;
    --input-color:#28373E;
    --secondary-color:#07E676;


    --primary-color:white;
    --secondary-text-color:gray;
    --label-color:#76BCB0;

    --passive-text-color:gray;
    --button-color:#0D161B;
    --button-active-color:"#131e24"
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color:var(--primary-color)
}

*{
    box-sizing: border-box;
}
.wrapper{
    margin: 20px auto;
}